{% extends '../base.html' %}
{% load static tailwind_tags %}
{% load tailwind_filters %}
{% block content %}
<div class="max-w-md mx-auto mt-10">
  <div class="bg-white border border-gray-200 rounded-lg shadow-lg p-6">
    <h1 class="text-xl font-semibold text-center text-gray-900 mb-6">Prendre un Rendez-vous avec {{ medecin.prenom }} {{ medecin.nom }} </h1>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      {{ form.motif|as_crispy_field }}
      {{form.notes|as_crispy_field}}
      <button type="submit" class="block w-full bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:bg-green-700">Créer le Rendez-vous</button>
    </form>
    <div class="mt-4 text-center">
      <a href="{% url 'doctor_detail' medecin.id %}" class="text-blue-500 hover:underline">Retour aux détails du médecin</a>
    </div>
  </div>
</div>
{% endblock %}
